<!DOCTYPE html>
<html dir="ltr" lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Together | volunteer</title>
    <meta name="description" content="Volunteer Matching">
    <meta name="author" content="author">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/template/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="/template/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="/template/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="/template/css/animations.css" rel="stylesheet">
    <link href="/template/plugins/slick/slick.css" rel="stylesheet">

    <!-- The Project's core CSS file -->
    <!-- Use css/rtl_style.css for RTL version -->
    <link href="/template/css/style.css" rel="stylesheet" >
    <!-- The Project's Typography CSS file, includes used fonts -->
    <!-- Used font for body: Roboto -->
    <!-- Used font for headings: Raleway -->
    <!-- Use css/rtl_typography-default.css for RTL version -->
    <link href="/template/css/typography-default.css" rel="stylesheet" >
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer) -->
    <link href="/template/css/skins/light_blue.css" rel="stylesheet">

    <!-- Custom css -->
    <link href="/template/css/custom.css" rel="stylesheet">

</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="">

<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">
    <!-- header-container start -->
    <div class="header-container">
        <!-- header-top start -->
        <!-- classes:  -->
        <!-- "dark": dark version of header top e.g. class="header-top dark" -->
        <!-- "colored": colored version of header top e.g. class="header-top colored" -->
        <!-- ================ -->
        <div class="header-top dark">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <!-- header-top-second start -->
                        <!-- ================ -->
                        <div id="header-top-second"  class="clearfix">

                            <!-- header top dropdowns start -->
                            <!-- ================ -->
                            <div class="header-top-dropdown text-right">
                                <div class="btn-group">
                                    <a href="/admin/logout" class="btn btn-default btn-sm"><i class="fa fa-lock pr-2"></i>Log-out</a>
                                </div>
                            </div>
                            <!--  header top dropdowns end -->
                        </div>
                        <!-- header-top-second end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-top end -->

        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "fixed-desktop": enables fixed navigation only for desktop devices e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "fixed-all": enables fixed navigation only for all devices desktop and mobile e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ -->
        <header class="header fixed fixed-desktop clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-auto hidden-md-down">
                        <!-- header-first start -->
                        <!-- ================ -->
                        <div class="header-first clearfix">

                            <!-- logo -->
                            <div id="logo" class="logo-font">
                                <a href="/admin"><h2 class="logo-font text-default">Together</h2></a>
                            </div>

                            <!-- name-and-slogan -->
                            <div class="site-slogan">
                                Volunteer-Matching Service
                            </div>

                        </div>
                        <!-- header-first end -->

                    </div>
                    <div class="col-lg-9 ml-auto">

                        <!-- header-second start -->
                        <!-- ================ -->
                        <div class="header-second clearfix">

                            <!-- main-navigation start -->
                            <!-- classes: -->
                            <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                            <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                            <!-- ================ -->
                            <div class="main-navigation main-navigation--mega-menu  animated">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">
                                    <div class="navbar-brand clearfix hidden-lg-up">

                                        <!-- logo -->
                                        <div id="logo-mobile" class="logo">
                                            <a href="/admin"><h2 class="logo-font text-default">Together</h2></a>
                                        </div>

                                        <!-- name-and-slogan -->
                                        <div class="site-slogan">
                                            Volunteer-Matching Service
                                        </div>

                                    </div>
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>

                                    <div class="collapse navbar-collapse scrollspy" id="navbar-collapse-1">
                                        <!-- main-menu -->
                                        <ul class="navbar-nav ml-lg-auto">
                                            <li class="nav-item"><a href="/admin" class="nav-link">DashBoard</a></li>
                                            <li class="nav-item"><a href="/admin/usermanage" class="nav-link">사용자 관리</a></li>
                                            <li class="nav-item active"><a href="/admin/volunteer-manage" class="nav-link">봉사 관리</a></li>
                                            <li class="nav-item"><a href="/admin/approve" class="nav-link">봉사 승인</a></li>
                                            <li class="nav-item"><a href="/admin/contact-manage" class="nav-link">Contact</a></li>
                                            <li class="nav-item"><a href="/admin/join-manage" class="nav-link">Join</a></li>
                                            <li class="nav-item"><a href="/admin/question" class="nav-link">Question</a></li>
                                        </ul>
                                        <!-- main-menu end -->
                                    </div>
                                </nav>
                            </div>
                            <!-- main-navigation end -->
                        </div>
                        <!-- header-second end -->

                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->
    </div>
    <!-- header-container end -->

    <!-- section start -->
    <!-- ================ -->
    <div class="light-gray-bg section">
        <div class="container-fluid">
            <!-- filters start -->
            <div class="sorting-filters text-center mb-20 d-flex justify-content-center">
                <form class="form-inline">
                    <div class="form-group">
                        <label>승인 상태</label>
                        <select class="form-control" id = "approve_state_list" onClick="saveValue(this);">
                            <option selected="selected" value = 'all'>전체</option>
                            <option value="wait">승인대기</option>
                            <option value="accept">승인완료</option>
                            <option value="reject">승인거부</option>
                        </select>
                    </div>
                    <div class="form-group ml-1">
                        <label>봉사 ID</label>
                        <input id="vol_search_text" type="text" class="form-control" onkeyup="saveValue(this);">
                    </div>
                    <div class="form-group ml-1">
                        <label>사용자 ID</label>
                        <input id="user_search_text" type="text" class="form-control" onkeyup="saveValue(this);">
                    </div>
                    <div class="form-group ml-1">
                        <label>날짜</label>
                        <input id="date_search_text" type="text" class="form-control"  placeholder="yyyy-mm-dd" onkeyup="saveValue(this);">
                    </div>
                </form>
            </div>
            <!-- filters end -->
        </div>
    </div>
    <!-- section end -->

    <!-- main-container start -->
    <!-- ================ -->
    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-10">
                    <!-- pills start -->
                    <!-- ================ -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills" role="tablist">
                        <li class="nav-item"><a class="nav-link" id="downSort" href="#pill-1" role="tab" data-toggle="tab" title="down_sort"><i class="fa fa-arrow-down"></i> 최근순</a></li>
                        <li class="nav-item"><a class="nav-link" id="upSort" href="#pill-2" role="tab" data-toggle="tab" title="up_sort"><i class=" fa fa-arrow-up"></i> 오래된순</a></li>
                    </ul>
                    <!--modal-->
                    <div class="modal fade" id="user_detail" tabindex="-1" role="dialog" aria-labelledby="user_detailModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" id = "user_detail_modal_header">
                                    <!--<h4 class="modal-title" id="user_detailModalLabel">사용자 상세보기</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                                </div>
                                <div class="modal-body"id ="user_detail_modal_body">
                                    <!--<div class="col-lg-auto">
                                        <p>사용자 타입 : 봉사자<br>
                                            총 평점 :
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                        </p>
                                    </div>-->
                                    <!--<div class="listing-item mb-20">
                                        <div class="row grid-space-0">
                                            <div class="col-md-6 col-lg-2 col-xl-2">
                                                <div class="overlay-container">
                                                    <img src="/template/images/product-1.jpg" alt="" >
                                                    <a class="overlay-link" href="shop-product.html"><i class="fa fa-plus"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-8 col-xl-10">
                                                <div class="body">
                                                    <h3 class="margin-clear">봉사1</h3>
                                                    <p>
                                                        <i class="fa fa-star text-default"></i>
                                                        <i class="fa fa-star text-default"></i>
                                                        <i class="fa fa-star text-default"></i>
                                                        <i class="fa fa-star text-default"></i>
                                                        <i class="fa fa-star"></i>
                                                    </p>
                                                    <p>봉사 타입, 봉사 날짜, 봉사 시간 등등...미정</p>
                                                    <div class="elements-list clearfix">
                                                        <a href="#" class="pull-right btn btn-sm btn-animated btn-danger btn-default-transparent" data-toggle="modal" data-target="#vol_detail">봉사 상세보기<i class="fa fa-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="listing-item mb-20">
                                        <div class="row grid-space-0">
                                            <div class="col-md-6 col-lg-2 col-xl-2">
                                                <div class="overlay-container">
                                                    <img src="/template/images/product-1.jpg" alt="" >
                                                    <a class="overlay-link" href="shop-product.html"><i class="fa fa-plus"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-8 col-xl-10">
                                                <div class="body">
                                                    <h3 class="margin-clear">봉사2</h3>
                                                    <p>
                                                        <i class="fa fa-star text-default"></i>
                                                        <i class="fa fa-star text-default"></i>
                                                        <i class="fa fa-star text-default"></i>
                                                        <i class="fa fa-star text-default"></i>
                                                        <i class="fa fa-star"></i>
                                                    </p>
                                                    <p>봉사 타입, 봉사 날짜, 봉사 시간 등등...미정</p>
                                                    <div class="elements-list clearfix">
                                                        <a href="#" class="pull-right btn btn-sm btn-animated btn-danger btn-default-transparent" data-toggle="modal" data-target="#vol_detail">봉사 상세보기<i class="fa fa-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="listing-item mb-20">
                                        <div class="row grid-space-0">
                                            <div class="col-md-6 col-lg-2 col-xl-2">
                                                <div class="overlay-container">
                                                    <img src="/template/images/product-1.jpg" alt="" >
                                                    <a class="overlay-link" href="shop-product.html"><i class="fa fa-plus"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-8 col-xl-10">
                                                <div class="body">
                                                    <h3 class="margin-clear">봉사3</h3>
                                                    <p>
                                                        <i class="fa fa-star text-default"></i>
                                                        <i class="fa fa-star text-default"></i>
                                                        <i class="fa fa-star text-default"></i>
                                                        <i class="fa fa-star text-default"></i>
                                                        <i class="fa fa-star"></i>
                                                    </p>
                                                    <p>봉사 타입, 봉사 날짜, 봉사 시간 등등...미정</p>
                                                    <div class="elements-list clearfix">
                                                        <a href="#" class="pull-right btn btn-sm btn-animated btn-danger btn-default-transparent" data-toggle="modal" data-target="#vol_detail">봉사 상세보기<i class="fa fa-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="vol_detail" tabindex="-1" role="dialog" aria-labelledby="vol_detailModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" id="vol_detail_modal_header">
                                    <!--<h4 class="modal-title" id="vol_detailModalLabel">봉사 상세보기</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                                </div>
                                <div class="modal-body" id ="vol_detail_modal_body">
                                    <!--                     <div class="col-lg-auto">
                                                             <p>봉사자 평점 :
                                                                 <i class="fa fa-star text-default"></i>
                                                                 <i class="fa fa-star text-default"></i>
                                                                 <i class="fa fa-star text-default"></i>
                                                                 <i class="fa fa-star text-default"></i>
                                                                 <i class="fa fa-star text-default"></i>
                                                             </p>
                                                             <p>장애인 평점 :
                                                                 <i class="fa fa-star text-default"></i>
                                                                 <i class="fa fa-star text-default"></i>
                                                                 <i class="fa fa-star text-default"></i>
                                                                 <i class="fa fa-star text-default"></i>
                                                                 <i class="fa fa-star text-default"></i>
                                                             </p>
                                                         </div>-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="approve" tabindex="-1" role="dialog" aria-labelledby="approveModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" id = "approve_modal_header">
                                    <!-- <h4 class="modal-title" id="approveModalLabel">봉사 ID</h4>
                                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                                </div>
                                <div class="modal-body" id = "approve_modal_body">
                                    <!-- <p>
                                         승인되었습니다.
                                     </p>-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" onclick="refresh()" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="reject" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" id = "reject_modal_header">
                                    <!-- <h4 class="modal-title" id="approveModalLabel">봉사 ID</h4>
                                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                                </div>
                                <div class="modal-body" id = "reject_modal_body">
                                    <!-- <p>
                                         승인되었습니다.
                                     </p>-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" onclick="refresh()" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="wait" tabindex="-1" role="dialog" aria-labelledby="waitModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" id = "wait_modal_header">
                                    <!--<h4 class="modal-title" id="waitModalLabel">봉사 ID</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                                </div>
                                <div class="modal-body" id = "wait_modal_body">
                                    <!--<p>
                                        승인되었습니다.
                                    </p>-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" onclick="refresh()" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--modal end-->

                    <!-- Tab panes -->
                    <div class="tab-content clear-style">
                        <div class="tab-pane active" id="pill-1">
                            <div id="down_list">
                            </div>
                        </div>
                        <div class="tab-pane" id="pill-2">
                            <div id="up_list">
                            </div>
                        </div>
                    </div>
                    <!-- pills end -->

                    <!-- pagination start -->
                    <!--                    <nav aria-label="Page navigation">
                                            <ul class="pagination justify-content-center">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <i aria-hidden="true" class="fa fa-angle-left"></i>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <i aria-hidden="true" class="fa fa-angle-right"></i>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>-->
                    <!-- pagination end -->
                </div>
            </div>
        </div>
    </div>

    <!-- main-container end -->
    <footer id="footer" class="clearfix dark">


        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
            <div class="container">
                <div class="subfooter-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Copyright © 2018 AJOU UNIVERSITY SW. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .subfooter end -->

    </footer>
</div>
<!-- page-wrapper end -->

<!-- JavaScript files placed at the end of the document so the pages load faster -->
<!-- ================================================== -->
<!-- Jquery and Bootstap core js files -->
<script src="/template/plugins/jquery.min.js"></script>
<script src="/template/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Isotope javascript -->
<script src="/template/plugins/isotope/imagesloaded.pkgd.min.js"></script>
<script src="/template/plugins/isotope/isotope.pkgd.min.js"></script>
<!-- Magnific Popup javascript -->
<script src="/template/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<!-- Appear javascript -->
<script src="/template/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="/template/plugins/waypoints/sticky.min.js"></script>
<script src="/template/plugins/charts/Chart.js"></script>
<!-- Count To javascript -->
<script src="/template/plugins/countTo/jquery.countTo.js"></script>
<!-- Slick carousel javascript -->
<script src="/template/plugins/slick/slick.min.js"></script>
<!-- Initialization of Plugins -->
<script src="/template/js/template.js"></script>
<!-- Custom Scripts -->
<script src="/template/js/custom.js"></script>
<script src="/util/AjaxUtil.js"></script>

<script type="text/javascript">
    /*(function($) {

        "use strict";

        $(document).ready(function() {

            document.getElementById("approve_state_list").value=getSavedValue("approve_state_list");
            document.getElementById("vol_search_text").value=getSavedValue("vol_search_text");
            document.getElementById("user_search_text").value=getSavedValue("user_search_text");
            document.getElementById("date_search_text").value=getSavedValue("date_search_text");

            var url="/admin/volunteers/end";
            $.ajax({
                type: "GET",
                url:url,
                dataType: "json",
                error:function (request,status,error) {
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                },
                success: function (volData) {
                    var i=0,length=Object.keys(volData).length;
                    sort_down_by_date(volData);
                    for(i; i<=length-1;i++)
                    {
                        var $vol_list_div= $(
                            '<div class="image-box style-3-b" id="vol_list'+i+'">' +
                            '<div class="row">' +
                            '<div class="col-md-12 col-lg-12 col-xl-12">' +
                            '<div class="body" id = "vol_list_body'+i+'"></div>' +
                            '</div>' +
                            '</div>' +
                            '</div>');
                        $('#down_list').append($vol_list_div);

                        var $list_header = $('<h3 class="margin-clear volID_header">봉사 ID : '+volData[i].volunteerId+'</h3>');
                        $('#vol_list_body'+i).append($list_header);

                        var wait_btn=
                            '<div class="elements-list clearfix">' +
                            '<a href="#" class="pull-right btn btn-sm btn-animated btn-danger btn-default-transparent" data-toggle="modal" data-target="#reject" data-volid = '+volData[i].volunteerId+'>거부하기<i class="fa fa-times"></i></a>' +
                            '<a href="#" class="pull-right btn btn-sm btn-animated btn-danger btn-default-transparent" data-toggle="modal" data-target="#approve" data-volid = '+volData[i].volunteerId+'>승인하기<i class="fa fa-check"></i></a>' +
                            '</div>';

                        var accept_btn=
                            '<div class="elements-list clearfix pl-5">' +
                            '<a href="#" class="pull-right btn btn-sm btn-animated btn-danger btn-default-transparent" data-toggle="modal" data-target="#wait" data-volid = '+volData[i].volunteerId+'>승인 취소하기<i class="fa fa-reply"></i></a>' +
                            '</div>';

                        var reject_btn=
                            '<div class="elements-list clearfix">' +
                            '<a href="#" class="pull-right btn btn-sm btn-animated btn-danger btn-default-transparent" data-toggle="modal" data-target="#wait" data-volid = '+volData[i].volunteerId+'>승인거부 취소하기<i class="fa fa-reply"></i></a>' +
                            '</div>';
                        var approve_status;
                        var buttons;
                        if(volData[i].acceptStatus=='wait'){ //승인 대기 상태의 경우
                            approve_status='wait';
                            buttons=wait_btn;
                        }else if(volData[i].acceptStatus=='accept'){ //승인 완료 상태의 경우
                            approve_status='accept';
                            buttons=accept_btn;
                        }else if (volData[i].acceptStatus=='reject'){ //승인 거부 상태의 경우
                            approve_status='reject';
                            buttons=reject_btn;
                        }

                        var $in_body = $(
                            '<p small mb-10>'+
                            'Helper 평점 : '+score_star(volData[i].helpeeScore)+' / Helpee 평점 : '+score_star(volData[i].helperScore)+
                            '<a href="/admin/volunteer-detail/'+volData[i].volunteerId+'" class="btn-sm-link"><i class="fa fa-search">상세보기</i></a>' +
                            '</p>'+
                            '<div class="separator-2"></div>'+
                            '<div class="mb-10">'+
                            '<p>' +
                            'Helper ID : <span class="vol_content_helperID">'  + volData[i].helperId +'</span><br>'+
                            'Helpee ID : <span class="vol_content_helpeeID">'  + volData[i].helpeeId +'</span><br>'+
                            '봉사 인증시간 : '+ volData[i].realDuration+'시간<br>'+
                            '봉사 날짜 : <span class="vol_content_date">' + (volData[i].date).substring(0,10) +'</span><br>'+
                            '봉사 종류 : '+ volData[i].type +
                            '</p>' +
                            buttons+
                            '</div>'
                        );
                        $('#vol_list'+i).addClass(approve_status);
                        $('#vol_list_body'+i).append($in_body);
                        $('#vol_list'+i).clone().prependTo('#up_list');
                    }
                    state_filter();
                    filter();
                }
            });

            $('#approve_state_list').change(function() {
                state_filter();
                filter();
            });

            //봉사 ID부분에 text 넣었을 때 필터 적용
            $("#vol_search_text").keyup(function() {
                state_filter();
                filter();
            });

            //사용자 ID부분에 text 넣었을 때 필터 적용
            $("#user_search_text").keyup(function() {
                state_filter();
                filter();
            });

            //날짜 부분에 text 넣었을 때 필터 적용
            $("#date_search_text").keyup(function() {
                state_filter();
                filter();
            });


            //사용자 상세보기 모달 내용 동적으로 넣기
            $('#user_detail').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var userID = button.data('userid'); // Extract info from data-* attributes
                var userType = button.data('usertype');
                var userScore =button.data('score');
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this);
                $('#user_detail_modal_header').empty();
                $('#user_detail_modal_header').append('<h4 class="modal-title" id="user_detailModalLabel">사용자 '+userID+' 상세보기</h4>' +
                    '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>');
                var score = '<p>'+score_star(userScore)+'</p>';
                var $modal_body = $(
                    '<div class="col-lg-auto" id="user_detailModalContent">' +
                    '<h4><i class="fa fa-address-card-o"></i> 사용자 기본 정보</h4>'+
                    '<p>' +
                    '사용자 ID: '+userID+'<br>' +
                    '사용자 타입 : '+userType+'<br>' +
                    '사용자 총 평점 : '+score_star(userScore)+
                    '</p>'+
                    '<h4><i class="fa fa-handshake-o"></i>사용자 봉사 내역</h4>'+
                    '<p id="user_vol_list"></p>'+
                    '</div>');

                $('#user_detail_modal_body').empty();
                $('#user_detail_modal_body').append($modal_body);
                var url="/admin/volunteers/user-id/";
                var text= userID;
                $.ajax({
                    type: "GET",
                    url:url+text,
                    dataType: "json",
                    error:function (request,status,error) {
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    },
                    success: function (userVolunteerData) {
                        //$('#user_detail_modal_body').empty();
                        var i=0,vol_list_length=Object.keys(userVolunteerData).length;
                        sort_up_by_date(userVolunteerData);
                        for(i; i<=vol_list_length-1;i++)
                        {
                            var $vol_list_div= $(
                                '<div class="listing-item mb-20" id="vol_list'+i+'">' +
                                '<div class="row grid-space-0">' +
                                '<div class="col-md-6 col-lg-8 col-xl-12">' +
                                '<div class="body" id = "vol_list_body'+i+'"></div>' +
                                '</div>' +
                                '</div>' +
                                '</div>');
                            $('#user_vol_list').append($vol_list_div);
                            var vol_score;
                            if(userType='helper') {
                                vol_score = score_star(userVolunteerData[i].helpeeScore);
                            }else {
                                vol_score = score_star(userVolunteerData[i].helperScore);
                            }
                            var $vol_list_body = $(
                                '<h4 class="margin-clear">봉사 번호 : '+userVolunteerData[i].volunteerId+'</h4>'+
                                '<p>'+
                                '봉사 종류 : '+userVolunteerData[i].type+'<br>'+
                                '받은 평점: '+vol_score+
                                '</p>'+
                                '<div class="elements-list clearfix">' +
                                '<a href="/admin/volunteer-detail/'+userVolunteerData[i].volunteerId+'" class="pull-right btn btn-sm btn-animated btn-default-transparent">봉사 상세보기<i class="fa fa-search"></i></a>' +
                                '</div>');
                            $('#vol_list_body'+i).append($vol_list_body);
                        }
                    }
                });
            });


            //봉사상세보기 모달 내용 동적으로 넣기
            $('#vol_detail').on('show.bs.modal', function (event) {
                $('#vol_detail_modal_header').empty();
                $('#vol_detail_modal_body').empty();
                var button = $(event.relatedTarget); // Button that triggered the modal
                var volID = button.data('volid'); // Extract info from data-* attributes

                var modal = $(this);
                var url="/admin/volunteers/volunteer-id/";
                var text= volID;
                $.ajax({
                    type: "GET",
                    url: url + text,
                    dataType: "json",
                    error:function (request,status,error) {
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    },
                    success: function (volData) {
                        $('#vol_detail_modal_header').append('<h4 class="modal-title" id="vol_detailModalLabel">봉사 '+volID+' 상세보기</h4>' +
                            '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>');
                        var score = 'Helper 평점 :' + score_star(volData[0].helpeeScore) + ' / Helpee 평점 : ' + score_star(volData[0].helperScore);
                        var $modal_body = $(
                            '<div class="col-lg-auto" id="vol_detailModalContent" xmlns="http://www.w3.org/1999/html">' +
                            '<p>'+
                            '<h4><i class="fa fa-handshake-o"></i> 봉사 정보</h4>'+
                            'Helper ID : '  + volData[0].helperId +'<br>'+
                            'Helpee ID : '  + volData[0].helpeeId +'<br>'+
                            '봉사 인증시간 : '+ volData[0].realDuration+'시간<br>'+
                            '봉사 날짜 : ' + (volData[0].date).substring(0,10) +'<br>'+
                            '봉사 위치 :' + getLocation(volData[0].longitude, volData[0].latitude)+'<br>'+
                            '봉사 종류 : '+ volData[0].type + '<br>'+
                            '봉사 상세 내용 : '+ volData[0].content+'<br>'+
                            '<a href="/admin/map?volID='+volID+'">봉사 위치 로그 보기</a>'+
                            '</p>'+
                            '<p>' +
                            '<h4><i class="fa fa-newspaper-o"></i> Feedback</h4>'+
                            score +'<br>'+
                            'Helper의 feedback 상세 내용 : '+ volData[0].helperFeedbackContent +'<br>'+
                            'Helpee의 feedback 상세 내용 : ' +'' +
                            '<div class="form-group">' +
                            '<textarea class="form-control feedbackTextArea" id="feedbackTextArea" rows="4" placeholder="녹음파일 내용을 입력하세요"></textarea>' +
                            '<a id="feedbackModify" onclick="saveFeedback('+volID+')" class="pull-right btn btn-sm btn-animated btn-default-transparent">수정하기<i class="fa fa-pencil"></i></a>' +
                            '<a id="feedbackSave" onclick="saveFeedback('+volID+')" class="pull-right btn btn-sm btn-animated btn-default-transparent">저장하기<i class="fa fa-save"></i></a>' +
                            '</div>'+
                            '<audio controls src="http://210.89.191.125/photo/'+volID+'.mp3">Your user agent does not support the HTML5 Audio element.</audio>'+
                            '</p>'+
                            '</div>');
                        $('#vol_detail_modal_body').append($modal_body);
                        $('#feedbackTextArea').val(volData[0].helpeeFeedbackContent);
                    }
                });
            });

            //승인 버튼 눌렀을 때 모달 뜨고 리스트 업데이트하기
            $('#approve').on('show.bs.modal', function (event) {
                $('#approve_modal_header').empty();
                $('#approve_modal_body').empty();
                var button = $(event.relatedTarget); // Button that triggered the modal
                var volID = button.data('volid'); // Extract info from data-* attributes

                var modal = $(this);
                var url = "/admin/volunteer/accept";
                var approve_vol_info = {"volunteerId": volID};
                $.ajax({
                    type: "PUT",
                    url: url,
                    data: approve_vol_info,
                    dataType: "json",

                    error:function (request,status,error) {
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    },
                    success: function (xhr, desc, err) {
                        $('#approve_modal_header').append('<h4 class="modal-title" id="approveModalLabel">봉사 ID ' + volID + ' 승인하기</h4>' +
                            '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>');
                        var $modal_body = $(
                            '<div class="col-lg-auto" id="approveModalContent">' +
                            '<p>봉사ID "' + volID + '"를 승인했습니다.</p>' +
                            '</div>');
                        $('#approve_modal_body').append($modal_body);
                    }
                });
                //location.reload();
            });


            //거부 버튼 눌렀을 때 모달 뜨고 리스트 업데이트하기
            $('#reject').on('show.bs.modal', function (event) {
                $('#reject_modal_header').empty();
                $('#reject_modal_body').empty();
                var button = $(event.relatedTarget); // Button that triggered the modal
                var volID = button.data('volid'); // Extract info from data-* attributes

                var modal = $(this);
                var url = "/admin/volunteer/reject";
                var reject_vol_info = {"volunteerId": volID};
                $.ajax({
                    type: "PUT",
                    url: url,
                    data: reject_vol_info,
                    dataType: "json",

                    error:function (request,status,error) {
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    },
                    success: function (xhr, desc, err) {
                        $('#reject_modal_header').append('<h4 class="modal-title" id="rejectModalLabel">봉사 ID ' + volID + ' 승인거부하기</h4>' +
                            '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>');
                        var $modal_body = $(
                            '<div class="col-lg-auto" id="rejectModalContent">' +
                            '<p>봉사ID "' + volID + '"를 승인거부했습니다.</p>' +
                            '</div>');
                        $('#reject_modal_body').append($modal_body);
                    }
                });
                //location.reload();
            });

            //승인취소 버튼 or 승인거부 취소 버튼 눌렀을 때 모달 뜨고 리스트 업데이트하기
            $('#wait').on('show.bs.modal', function (event) {
                $('#wait_modal_header').empty();
                $('#wait_modal_body').empty();
                var button = $(event.relatedTarget); // Button that triggered the modal
                var volID = button.data('volid'); // Extract info from data-* attributes

                var modal = $(this);
                var url = "/admin/volunteer/wait";
                var wait_vol_info = {"volunteerId": volID};
                $.ajax({
                    type: "PUT",
                    url: url,
                    data: wait_vol_info,
                    dataType: "json",

                    error:function (request,status,error) {
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    },
                    success: function (xhr, desc, err) {
                        $('#wait_modal_header').append('<h4 class="modal-title" id="approveModalLabel">봉사 ID ' + volID + ' 승인/거부 취소하기</h4>' +
                            '<button type="button" onclick="refresh()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>');
                        var $modal_body = $(
                            '<div class="col-lg-auto" id="approveModalContent">' +
                            '<p>봉사ID "' + volID + '"를 대기상태로 전환했습니다.</p>' +
                            '</div>');
                        $('#wait_modal_body').append($modal_body);
                    }
                });
                //location.reload();
            });

            //업데이트시 새로고침
            $(".refresh_parent").on('click',function () {
                parent.location.reload();
            });

        }); // End document ready
    })(jQuery);

    //봉사내역 날짜 최근순으로 정렬
    function sort_down_by_date(volObjects){
        volObjects.sort(function(a,b){
            return a.date > b.date ? -1 : a.date < b.date ? 1 : 0;
        })
    }

    function score_star(score){
        var score_star='';
        var i,j;
        for(i=1;i<=score;i++){
            score_star = score_star + '<i class="fa fa-star text-default"></i>';
        }
        for(j=1;j<=5-score;j++){
            score_star= score_star + '<i class="fa fa-star"></i>'
        }
        return score_star;
    }

    function saveValue(e){
        var id = e.id;
        var val = e.value;
        localStorage.setItem(id, val);
    }

    function getSavedValue(v){
        if (localStorage.getItem(v) === null) {
            return "";
        }
        return localStorage.getItem(v);
    }

    function state_filter() {
        var state=$("#approve_state_list").val();

        if (state== 'all') {
            // Do something for option "전체"
            $(".image-box").show();
        }else if (state== 'wait') {
            // Do something for option "승인대기"
            $(".image-box").hide();
            $(".wait").show();
        }else if (state== 'accept') {
            // Do something for option "승인완료"
            $(".image-box").hide();
            $(".accept").show();
        }else if (state== 'reject') {
            // Do something for option "승인거부"
            $(".image-box").hide();
            $(".reject").show();
        }
    }

    function filter() {

        var volText= $("#vol_search_text").val();
        var userText= $("#user_search_text").val();
        var dateText= $("#date_search_text").val();

        $('.volID_header:not(:contains('+ volText +'))').parent().parent().parent().parent().hide();
        if($('.vol_content_helpeeID:not(:contains('+ userText +'))').val()!==undefined){
            if($('.vol_content_helperID:not(:contains('+ userText +'))').val()!==undefined)
                $('.vol_content_helperID:not(:contains('+ userText +'))').parent().parent().parent().parent().parent().parent().hide();
        }
        $('.vol_content_date:not(:contains('+ dateText +'))').parent().parent().parent().parent().parent().parent().hide();
    }

    function getLocation(lng, lat){
        var geocode = "https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lng+"&key=AIzaSyCDIeArNwxnqoGn0ERABXrI3M6U-OMyIos&sensor=false";
        var address="";
        $.ajax({
            async: false,
            url: geocode,
            type: 'POST',
            success: function(locationResult){
                if(locationResult.status == 'OK') {
                    address+= locationResult.results[1].formatted_address;
                } else{
                    alert("봉사 위치를 가져올 수 없습니다.");
                    address+="위치정보 오류";
                }
            }
        });
        return address;
    }

    function refresh(){
        parent.location.reload();
    }

    function playAudio(src) {
        var audio = new Audio(src);
        audio.play();
    }

    function saveFeedback(volID) {
        var url = "/admin/one-line-feedback";
        var feedbackContent = {"helpeeFeedbackContent": $('#feedbackTextArea').val(),"volunteerId": volID};
        $.ajax({
            type: "PUT",
            url: url,
            data: feedbackContent,
            dataType: "json",

            error:function (request,status,error) {
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            },
            success: function (xhr, desc, err) {
                alert("녹음 내용이 저장되었습니다");
            }
        });
    }*/
</script>
</body>
</html>
