<!DOCTYPE html>
<html dir="ltr" lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Together | intro</title>
    <meta name="description" content="더불어 사는 세상">
    <meta name="author" content="aju chicchicpokpok">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="template/images/favicon.ico">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="template/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="template/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="template/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="template/plugins/rs-plugin-5/css/settings.css" rel="stylesheet">
    <link href="template/plugins/rs-plugin-5/css/layers.css" rel="stylesheet">
    <link href="template/plugins/rs-plugin-5/css/navigation.css" rel="stylesheet">
    <link href="template/css/animations.css" rel="stylesheet">
    <link href="template/plugins/slick/slick.css" rel="stylesheet">

    <!-- The Project's core CSS file -->
    <!-- Use css/rtl_style.css for RTL version -->
    <link href="template/css/style.css" rel="stylesheet" >
    <!-- The Project's Typography CSS file, includes used fonts -->
    <!-- Used font for body: Roboto -->
    <!-- Used font for headings: Raleway -->
    <!-- Use css/rtl_typography-default.css for RTL version -->
    <link href="template/css/typography-default.css" rel="stylesheet" >
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer) -->
    <link href="template/css/skins/purple.css" rel="stylesheet">


    <!-- Custom css -->
    <link href="template/css/custom.css" rel="stylesheet">

</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="transparent-header front-page page-loader-5">

<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">
    <!-- header-container start -->
    <div class="header-container">


        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "fixed-desktop": enables fixed navigation only for desktop devices e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "fixed-all": enables fixed navigation only for all devices desktop and mobile e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ -->
        <header class="header dark fixed fixed-desktop clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-auto hidden-md-down pl-3">
                        <!-- header-first start -->
                        <!-- ================ -->
                        <div class="header-first clearfix">

                            <!-- logo -->
                            <div id="logo" class="logo">
                                <a href="/"><h2 class="logo-font text-default">Together</h2></a>
                            </div>

                            <!-- name-and-slogan -->
                            <div class="site-slogan">
                                더불어 사는 세상 ( 한줄 컨셉 )
                            </div>

                        </div>
                        <!-- header-first end -->

                    </div>

                    <div class="col-lg-8 ml-lg-auto">

                        <!-- header-second start -->
                        <!-- ================ -->
                        <div class="header-second clearfix">

                            <!-- main-navigation start -->
                            <!-- classes: -->
                            <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                            <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                            <!-- ================ -->
                            <div class="main-navigation main-navigation--mega-menu  animated">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">
                                    <div class="navbar-brand clearfix hidden-lg-up">

                                        <!-- logo -->
                                        <div id="logo-mobile" class="logo">
                                            <a href="/"><h2 class="logo-font text-default">Together</h2></a>
                                        </div>

                                    </div>
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse scrollspy" id="navbar-collapse-1">
                                        <!-- main-menu -->
                                        <ul class="navbar-nav ml-lg-auto">
                                            <li class="nav-item"><a href="/open-api" class="nav-link">Open Api</a></li>
                                            <li class="nav-item"><a href="/join-us" class="nav-link">Join</a></li>
                                        </ul>
                                        <!-- main-menu end -->
                                    </div>
                                </nav>
                            </div>
                            <!-- main-navigation end -->
                        </div>
                        <!-- header-second end -->

                    </div>
                    <div class="col-auto hidden-md-down pl-0 pl-md-1">
                        <!-- header dropdown buttons -->
                        <div class="header-dropdown-buttons">
                            <a href="/contact-us" class="btn btn-sm btn-default">Contact Us <i class="fa fa-envelope-o pl-1"></i></a>
                        </div>
                        <!-- header dropdown buttons end -->
                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->
    </div>
    <!-- header-container end -->
    <!-- banner start -->
    <!-- ================ -->
    <div class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">

            <!-- slider revolution start -->
            <!-- ================ -->
            <div class="slider-revolution-5-container">
                <div id="slider-banner-fullscreen" class="slider-banner-fullscreen rev_slider" data-version="5.0">
                    <ul class="slides">
                        <!-- slide 1 start -->
                        <!-- ================ -->
                        <li data-transition="random-static" data-slotamount="default" data-masterspeed="default" data-title="intro">

                            <!-- main image -->
                            <img src="template/volma-images/banner-slide-01.jpg" alt="slidebg1" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                            <!-- Transparent Background -->
                            <div class="tp-caption dark-translucent-bg"
                                 data-x="center"
                                 data-y="center"
                                 data-start="0"
                                 data-transform_idle="o:1;"
                                 data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                                 data-transform_out="o:0;s:600;"
                                 data-width="5000"
                                 data-height="5000">
                            </div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption large_white"
                                 data-x="left"
                                 data-y="200"
                                 data-start="500"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                                <span class="logo-font">쉽게 하는 봉사</span>
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption large_white tp-resizeme"
                                 data-x="left"
                                 data-y="270"
                                 data-start="750"
                                 data-transform_idle="o:1;"
                                 data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                                <div class="separator-2 light"></div>
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption medium_white"
                                 data-x="left"
                                 data-y="290"
                                 data-start="750"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];sX:1;sY:1;s:850;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">주변의 어려움에 <br> 더 가깝게 다가가는, <br> 좋은 서비스
                            </div>



                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption"
                                 data-x="center"
                                 data-y="bottom"
                                 data-voffset="100"
                                 data-start="1250"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                                <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i></a>
                            </div>
                        </li>
                        <!-- slide 1 end -->

                        <!-- slide 2 start -->
                        <!-- ================ -->
                        <li class="text-right" data-transition="random" data-slotamount="7" data-masterspeed="default" data-title="Concept">

                            <!-- main image -->
                            <img src="template/volma-images/banner-slide-03.jpeg" alt="slidebg2" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                            <!-- Transparent Background -->
                            <div class="tp-caption dark-translucent-bg"
                                 data-x="center"
                                 data-y="center"
                                 data-start="0"
                                 data-transform_idle="o:1;"
                                 data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                                 data-transform_out="o:0;s:600;"
                                 data-width="5000"
                                 data-height="5000">
                            </div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption large_white"
                                 data-x="right"
                                 data-y="200"
                                 data-start="500"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                                <span class="logo-font">위치기반</span> - o2o 자원봉사
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption large_white tp-resizeme"
                                 data-x="right"
                                 data-y="270"
                                 data-start="750"
                                 data-transform_idle="o:1;"
                                 data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                                <div class="separator-3 light"></div>
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption medium_white"
                                 data-x="right"
                                 data-y="290"
                                 data-start="750"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];sX:1;sY:1;s:850;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">쉬운 봉사<br> 가까운 봉사,<br> 돕고살자
                            </div>


                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption"
                                 data-x="center"
                                 data-y="bottom"
                                 data-voffset="100"
                                 data-start="1250"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                                <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i></a>
                            </div>
                        </li>
                        <!-- slide 2 end -->
                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </div>
            <!-- slider revolution end -->

        </div>
        <!-- slideshow end -->

    </div>
    <!-- banner end -->


    <div id="page-start"></div>

    <!-- section start -->
    <!-- ================ -->
    <section class="light-gray-bg pv-30 clearfix">
        <div class="container">
            <div class="row justify-content-lg-center">
                <div class="col-lg-8">
                    <h2 class="text-center mt-4">Our <strong>Services</strong></h2>
                    <div class="separator"></div>
                    <p class="large text-center">봉사활동 너무 어렵지 않나요. 우리가 바꿔갑니다.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon large circle"><img class="rounded-circle" alt="beauty" src="template/images/beauty-1.jpg"></span>
                        <h3>누구나 쉽게</h3>
                        <div class="separator clearfix"></div>
                        <p class="text-muted">Simple 한 UI</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                        <span class="icon large circle"><img class="rounded-circle" alt="beauty" src="template/images/beauty-2.jpg"></span>
                        <h3>실시간 매칭</h3>
                        <div class="separator clearfix"></div>
                        <p class="text-muted">최적의 알고리즘으로 빠르게 매칭</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                        <span class="icon large circle"><img class="rounded-circle" alt="beauty" src="template/images/beauty-3.jpg"></span>
                        <h3>언제 어디서나</h3>
                        <div class="separator clearfix"></div>
                        <p class="text-muted">위치 기반 정보를 이용해 가까운 사람을 찾아준다.</p>
                    </div>
                </div>
                <div class="clearfix visible-md"></div>
                <div class="col-lg-4 col-md-6">
                    <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon large circle"><img class="rounded-circle" alt="beauty" src="template/images/beauty-4.jpg"></span>
                        <h3>간편한 봉사 인증</h3>
                        <div class="separator clearfix"></div>
                        <p class="text-muted">봉사 활동 인증 이제 쉽게 해결하세요</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                        <span class="icon large circle"><img class="rounded-circle" alt="beauty" src="template/images/beauty-5.jpg"></span>
                        <h3>쉽게 찾을 수 있는 봉사 정보</h3>
                        <div class="separator clearfix"></div>
                        <p class="text-muted">분산된 봉사 정보를 한곳에서 </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                        <span class="icon large circle"><img class="rounded-circle" alt="beauty" src="template/images/beauty-6.jpg"></span>
                        <h3>뭐랄까</h3>
                        <div class="separator clearfix"></div>
                        <p class="text-muted">글쓰는게 어렵다.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="section dark-bg clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="call-to-action text-center">
                        <div class="row">
                            <div class="col-md-8">
                                <h3 class="title">주변에 도움이 필요한 분이 있으신가요?</h3>
                                <h3><strong class="logo-font text-default">together</strong> 에 알려주세요</h3>
                            </div>
                            <div class="col-md-4">
                                <br>
                                <p><a href="/join-us" class="btn btn-lg btn-gray-transparent btn-animated">더보기<i class="fa fa-arrow-right pl-20"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->


    <!-- section start -->
    <!-- ================ -->
    <section class="pv-40 clearfix">
        <div class="container">
            <h3 class="title space-top logo-font text-center text-default">About Team</h3>
            <div class="separator"></div>
            <p class="text-center">사람이 해야할 일은 사람이 더 잘합니다. 더 나은 봉사 활동 문화를 만들어 갑니다.</p>
            <br>
            <div class="row grid-space-10">
                <div class="col-md-6 col-lg-3">
                    <div class="pv-30 ph-20 white-bg feature-box bordered text-center">
                        <span class="icon large circle"><img class="rounded-circle" alt="beauty" src="template/images/demo-iron.jpg"></span>
                        <h3>Team Leader</h3>
                        <h4>고보원</h4>
                        <div class="separator clearfix"></div>
                        <p>안녕하세요 chicchic pokpok 팀장 고보원 입니다.</p>
                        <p>프로젝트 설계 <br> api 개발 <br></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="pv-30 ph-20 white-bg feature-box bordered text-center">
                        <span class="icon large circle"><img class="rounded-circle"  alt="beauty"src="template/images/demo-tanos.jpg"></span>
                        <h3>Web Developer</h3>
                        <h4>정소영</h4>
                        <div class="separator clearfix"></div>
                        <p>안녕하세요 chichic pokpok 사령관 정소영 입니다.</p>
                        <p>어드민 개발<br>infra 구축<br></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="pv-30 ph-20 white-bg feature-box bordered text-center">
                        <span class="icon large circle"><img class="rounded-circle" alt="beauty" src="template/images/demo-raccoon.jpg"></span>
                        <h3>Android Developer</h3>
                        <h4>고광표</h4>
                        <div class="separator clearfix"></div>
                        <p>안녕하세요 chichchic pokpok 일병 고광표 입니다.</p>
                        <p>helper 개발<br>push 개발<br></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="pv-30 ph-20 white-bg feature-box bordered text-center">
                        <span class="icon large circle"><img class="rounded-circle"  src="template/images/demo-cap.jpg"></span>
                        <h3>Android Developer</h3>
                        <h4>박준민</h4>
                        <div class="separator clearfix"></div>
                        <p>안녕하세요 chichchic pokpok ★ 박준민 입니다.</p>
                        <p>helpee 개발<br>tts 개발<br></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="call-to-action pv-40 text-center">
                        <div class="row justify-content-lg-center">
                            <div class="col-lg-8">
                                <h2 class="title">OPEN API</h2>
                                <p>투게더는 지자체 데이터 연동을 위한 open api 를 제공합니다.<br>투게더 에서 활동하는 우수한 자원봉사자와 함께 하세요
                                    <br>투게더는 행자부에서 제공하는 블라 블라 </p>
                                <div class="separator"></div>
                                <form class="form-inline margin-clear d-flex justify-content-center">
                                    <div class="form-group has-feedback">

                                    </div>
                                    <a href="/open-api" class="btn btn-lg btn-gray-transparent btn-animated margin-clear ml-3">바로가기 <i class="fa fa-link"></i></a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="dark-translucent-bg fixed-bg background-img-10 pv-40" style="background-position: 50% 50%;">
        <div class="slick-carousel content-slider">
            <% for (var indexI = 0; indexI < feedbackList.length; indexI++) {%>
            <div>
                <div class="container">
                    <div class="row justify-content-lg-center">
                        <div class="col-lg-8">
                            <div class="testimonial text-center">
                                <div class="testimonial-image">
                                    <img src="http://210.89.191.125/photo/<%=feedbackList[indexI].profileImage%>" class="rounded-circle">
                                </div>
                                <!--<h3>도와줘서 고마워요</h3>-->
                                <div class="separator"></div>
                                <div class="testimonial-body">
                                    <blockquote>
                                        <!--<p>학생들 짐들어 줘서 너무 고마워요</p>-->
                                        <p><%=feedbackList[indexI].helpeeFeedbackContent%></p>
                                    </blockquote>
                                    <!--<div class="testimonial-info-1">- 김 할머니</div>
                                    <div class="testimonial-info-2">2018-01-01</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>

        </div>
    </section>
    <!-- section end -->

    <!-- footer top start -->
    <!-- ================ -->
    <div class="default-bg footer-top border-clear">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="call-to-action text-center">
                        <div class="row">
                            <div class="col-md-8">
                                <h2 class="mt-4">누구나 쉽게 하는 봉사활동</h2>
                            </div>
                            <div class="col-md-2">
                                <p class="mt-10"><a href="apk/TogetherHelpee.apk" class="btn btn-animated btn-lg btn-gray-transparent">Helpee<i class="fa fa-download pl-20"></i></a></p>
                            </div>
                            <div class="col-md-2">
                                <p class="mt-10"><a href="apk/TogetherHelpee.apk" class="btn btn-animated btn-lg btn-gray-transparent">Helper<i class="fa fa-download pl-20"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer top end -->
    <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
    <!-- ================ -->
    <footer id="footer" class="clearfix dark">


        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
            <div class="container">
                <div class="subfooter-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Copyright © 2018 AJOU UNIVERSITY SW. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .subfooter end -->

    </footer>
    <!-- footer end -->
</div>
<!-- page-wrapper end -->

<!-- JavaScript files placed at the end of the document so the pages load faster -->
<!-- ================================================== -->
<!-- Jquery and Bootstap core js files -->
<script src="template/plugins/jquery.min.js"></script>
<script src="template/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- jQuery Revolution Slider  -->
<script src="template/plugins/rs-plugin-5/js/jquery.themepunch.tools.min.js"></script>
<script src="template/plugins/rs-plugin-5/js/jquery.themepunch.revolution.min.js"></script>
<!-- Isotope javascript -->
<script src="template/plugins/isotope/imagesloaded.pkgd.min.js"></script>
<script src="template/plugins/isotope/isotope.pkgd.min.js"></script>
<!-- Magnific Popup javascript -->
<script src="template/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<!-- Appear javascript -->
<script src="template/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="template/plugins/waypoints/sticky.min.js"></script>
<!-- Count To javascript -->
<script src="template/plugins/countTo/jquery.countTo.js"></script>
<!-- Slick carousel javascript -->
<script src="template/plugins/slick/slick.min.js"></script>
<!-- Pace javascript -->
<script src="template/plugins/pace/pace.min.js"></script>
<!-- Initialization of Plugins -->
<script src="template/js/template.js"></script>
<!-- Custom Scripts -->

</body>
</html>
