<!DOCTYPE html>
<html>
  <head>
    <title>Testing</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Testing</h1>
    <h1>Welcome</h1>

    <% include ./preemtion.ejs %>
    <h3>Node.js와 MySQL 연동하기</h3>
    <p>Id : <%= userId %></p>
    <p>Name : <%= userName %></p>
    <p>Age : <%= userAge %></p>

  </body>
</html>
