<!DOCTYPE html>
<html>
<head>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<h3>봉사 위치 로그</h3>
<div id="map"></div>
<script>
    function initMap() {
        var ajou = {lat: 37.2821251, lng: 127.04635589999998};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: ajou
        });
        var marker = new google.maps.Marker({
            position: ajou,
            map: map
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxOBACwViZBQrKqxL_iV2G3tDF5XnAhvg&callback=initMap">
</script>
</body>
</html>