<!DOCTYPE html>
<html>
<head>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<h3>봉사 위치 로그</h3>
<div id="map"></div>
<script>
    function initMap() {
        var locationLog = [
            {lat: 37.279662, lng: 127.043105},
            {lat:37.279389, lng: 127.043728},
            {lat: 37.279124, lng: 127.043832},
            {lat: 37.27874, lng: 127.044068}
        ];
        //var ajou = {lat: 37.2821251, lng: 127.04635589999998};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: locationLog[1]
        });

        var movingPath = new google.maps.Polyline({
            path: locationLog,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 0.5,
            strokeWeight: 2
        });

        movingPath.setMap(map);
        //movingPath.setMap(null); //line 삭제시 사용
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxOBACwViZBQrKqxL_iV2G3tDF5XnAhvg&callback=initMap">
</script>
</body>
</html>